{% extends 'main.html' %}
{% block content %}
    <h1>Welcome!!!</h1>

{#    {% for obj in object_list %}#}
{#        <div>#}
{#            <ul>#}
{#                <li>name: {{ obj.name }}</li>#}
{#                <li>description: {{ obj.description }}</li>#}
{#                <li>quantity: {{ obj.quantity }}</li>#}
{#                <li>price: {{ obj.price }}</li>#}
{#                <li>image: {{ obj.image }}</li>#}
{#            </ul>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <div>#}
{#    {% if user.is_superuser %}#}

        {% if user.is_authenticated %}
            <li>Name: {{ user.get_username }}</li>
            <li>wallet: {{ user.wallet }}</li>
            <br>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <h2>If you don't have an account, please register.</h2>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
{#    </div>#}

    {#    <a href="{% url 'login' %}">Login</a>#}


{% endblock %}