{% extends 'main.html' %}
{% block content %}
    <h1>Purchase</h1>
    <div class="purchase">
        <ul>
            {% for purchase in object_list %}
                <li>
                    {{ purchase.quantity }} * {{ purchase.product.name }}
                    <span>-{{ purchase.sum }}$</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total:${{ purchase.get_total_sum }}</p>
    </div>
    <form method="post" action="{% url 'purchase' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Return</button>
    </form>
{% endblock %}